*{
    margin:0;
    padding:0;
}
body{
    background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}
h1,p{
    margin:1em auto;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    
}
fieldset{
    text-transform: capitalize;
    margin: 0.5rem 0;
}
label{
    display: block;
}
form{
    margin:0 auto;
    max-width:500px;
    min-width:300px;
    width:60vw;
    padding-bottom:2em;
  }
fieldset{
    border:none;
    padding-top :2rem;
    padding-left:0px;
     padding-right:0px;
    padding-bottom:  2rem;
    border-bottom:3px solid #3b3b4f
}
fieldset:last-of-type {
    border-bottom: none;
}
input,textarea,select{
    margin-top:10px;
    width:100%;
    margin-bottom:0;
    margin-left:0px;
    margin-right:0px;
    width:100%;
    min-height: 2em;
}
.inline{
    width: unset;
    margin:0.5rem;
    margin-bottom:0;
    margin-left:0px;
    margin-right:0.5em;
    margin-top:0px;
    vertical-align:middle;
      
}
input,textarea{
    background-color:#0a0a23;
  border:1px solid;
  color:white;

}
input[type="submit"]{
    display: block;
 width:60%;
  margin: 0 auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width:300px;
  margin-top:1em;
  margin-bottom:1em;
margin-right:auto;
margin-left:auto;
  }
input[type="file"] {
    padding: 1px 2px;
  }
  a{
    color:#dfdfe2;
    text-decoration: none;
  }